<!DOCTYPE html>
<html lang="">
<head>

  <title><%= webpackConfig.metadata.title %></title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= webpackConfig.metadata.title %>">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">


  <link rel="manifest" href="/assets/manifest.json">
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="theme-color" content="#00bcd4">
  <!-- end favicon -->

  <!-- base url -->
  <base href="<%= webpackConfig.metadata.baseUrl %>">


</head>

<body style="margin:0">

  <app>
    <div style="
      display: flex;
      height: 100vh; width: 100%; background-color: #0288D1;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #E1F5FE">
      <i class="fa fa-cog fa-spin fa-5x fa-fw margin-bottom"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </app>



  <% if (webpackConfig.metadata.ENV === 'development') { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>


</body>
</html>
