/* MASONRY CSS */
.ml {
  box-sizing: border-box;
  column-count: 1;
  column-gap: 0;
  position: relative;
}
.ml * {
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .ml {
    column-count: 2;
  }
}
@media (min-width: 1200px) {
  .ml {
    column-count: 3;
  }
}
.ml-pnl {
  margin: 0;
  padding: 5px;
}

@media (min-width: 768px) {
  .ml-pnl {
    break-inside: avoid;
  }
}
.ml-pnl__cntnt {
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  width: 100%;
}
.ml-pnl__cntnt--img {
  max-width: 100%;
  padding: 0;
}
.ml-flp {
  perspective: 1000;
}
.ml-flp:hover .ml-flp__cntnt {
  transform: rotateY(180deg);
}
.ml-flp--sm {
  height: 200px;
}
.ml-flp--md {
  height: 300px;
}
.ml-flp--lg {
  height: 400px;
}
.ml-flp__pnl {
  backface-visibility: hidden;
  border-radius: 10px;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
.ml-flp__pnl--frnt {
  transform: rotateY(0deg);
  z-index: 2;
}
.ml-flp__pnl--bck {
  transform: rotateY(180deg);
}
.ml-flp__cntnt {
  height: 100%;
  overflow: visible;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.25s;
}
.ml-clstr {
  display: flex;
  padding: 0;
}
.ml-clstr--vrt {
  flex-direction: column;
}
@media (min-width: 768px) {
  .ml-clstr--vrt {
    flex-direction: row;
  }
}
.ml-clstr--hrz {
  flex-direction: column;
}
.ml-clstr__sgmnt {
  display: flex;
  overflow: hidden;
  flex: 1 1 auto;
}
.ml-clstr__sgmnt--rw {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .ml-clstr__sgmnt--rw {
    flex-direction: row;
  }
}
.ml-clstr__sgmnt--clmn {
  flex-direction: column;
}
@media (min-width: 768px) {
  .ml-clstr__sgmnt--hlf {
    flex-basis: 50%;
  }
  .ml-clstr__sgmnt--qrt {
    flex-basis: 25%;
  }
}
